:root {
    --jumbotron-padding-y: 3rem;
  }
  
  .jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: calc(var(--jumbotron-padding-y) * 2);
      padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }

  .botaoNotasImg {
    width: 100%;
    cursor: pointer;
  }

  .botaoNotas {
    width: 50px;
    height: 50px;
  }

  .botaoNotas:hover {
    width: 55px;
    height: 55px;
  }

  .botaoNotas:active {
    background-color: rgba(128, 128, 128, 0.438);
    box-shadow: 1px 1px 5px #5b5b5b, -1px -1px 5px #000, inset 1px 1px 5px #5b5b5b, inset -1px -1px 5px #000;
  }

  .botaoNotasContainer {
    height: 60px;
    margin-bottom: 20px;
  }

  .section {
    width: 100%;
    background-color: rgb(226, 223, 223);
    padding: 30px;
  }